body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.3s,color 0.3s;
    


}
.clock-container{
    text-align: center;
}
#toogle-btn{
    margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #333;
  color: white;
  transition: background 0.3s, color 0.3s;


}
#toggle-btn:hover {
  background: #555;
}

.dark-mode{
    background-color: #000000;
    color: #ffffff;
}